body {
  background: pink;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

a {
  text-align: center;
  display: block;
  margin: auto;
  padding: 20px;
  text-decoration: none;
  color: purple;
}

.croissant-photo {
  border-radius: 10px;
  text-align: center;
  width: 30%;
  display: block;
  margin: auto;
}
