body {
  background: pink;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

img {
  display: block;
  padding: 30px;
}

a {
  text-decoration: none;
  color: purple;
  margin: 10px;
  padding: 20px;
}

footer {
  text-align: center;
}
